<f:layout name="Default" />

<f:section name="main">
    <div class="social-list">
        <div class="col-left">
            <f:for each="{feeds}" as="feed" iteration="counter">
                <f:cycle values="{0: 'odd', 1: 'even'}" as="cycle">
                    <f:if condition="{0:cycle}=={0:'odd'}">
                        <f:if condition="{0:feed.provider}=={0:'facebook'}">
                            <div class="social-list-item social-list-item-facebook {f:if(condition:'{counter.cycle} > 6',then:'hidden')}" data-type="{feed.raw.type}" data-id="{feed.id}" data-url="{feed.link}" data-date="{feed.timestampticks}">
                                <div class="image" style="background-image: url({feed.image})"></div>
                                <img class="icon" src="/typo3conf/ext/pb_besocial/Resources/Public/Icons/facebook.png" />
                                <span class="text">{feed.text}</span>
                                <a class="likes " href="{feed.link}" ><f:count>{feed.raw.likes.data}</f:count></a>
                                <a class="comments" href="{feed.link}" ><f:count>{feed.raw.comments.data}</f:count></a>
                                <f:if condition="{0:feed.raw.type}=={0:'video'}">
                                    <img class="video-overlay" src="/typo3conf/ext/pb_besocial/Resources/Public/Icons/swmb_play_icon.png" />
                                </f:if>
                            </div>
                        </f:if>
                        <f:if condition="{0:feed.provider}=={0:'googleplus'}">
                            <div class="social-list-item social-list-item-googleplus {f:if(condition:'{counter.cycle} > 6',then:'hidden')}" data-type="{feed.raw.object.attachments.0.objectType}" data-id="{feed.id}" data-url="{feed.link}" data-date="{feed.timestampticks}">
                                <div class="image" style="background-image: url({feed.image})"></div>
                                <img class="icon" src="/typo3conf/ext/pb_besocial/Resources/Public/Icons/g_plus.png" />
                                <span class="text">{feed.text}</span>
                                <a class="plus" href="{feed.link}" >{feed.raw.object.replies.totalItems}</a>
                                <a class="replies" href="{feed.link}" >{feed.raw.object.plusoners.totalItems}</a>
                                <f:if condition="{0:feed.raw.object.attachments.0.objectType}=={0:'video'}">
                                    <img class="video-overlay" src="/typo3conf/ext/pb_besocial/Resources/Public/Icons/swmb_play_icon.png" />
                                </f:if>
                            </div>
                        </f:if>
                        <f:if condition="{0:feed.provider}=={0:'instagram'}">
                            <div class="social-list-item social-list-item-instagram {f:if(condition:'{counter.cycle} > 6',then:'hidden')}" data-type="" data-id="{feed.id}" data-url="{feed.link}" data-date="{feed.timestampticks}">
                                <div class="image" style="background-image: url({feed.image})"></div>
                                <img class="icon" src="/typo3conf/ext/pb_besocial/Resources/Public/Icons/icon-instagram.PNG" />
                                <a class="likes" href="{feed.link}" >{feed.raw.likes.count}</a>
                                <a class="comments" href="{feed.link}" >{feed.raw.comments.count}</a>
                            </div>
                        </f:if>
                    </f:if>
                </f:cycle>
            </f:for>
        </div>
        <div class="col-right">
            <f:for each="{feeds}" as="feed" iteration="counter">
                <f:cycle values="{0: 'odd', 1: 'even'}" as="cycle">
                    <f:if condition="{0:cycle}=={0:'even'}">
                        <f:if condition="{0:feed.provider}=={0:'facebook'}">
                            <div class="social-list-item social-list-item-facebook {f:if(condition:'{counter.cycle} > 6',then:'hidden')}" data-type="{feed.raw.type}" data-id="{feed.id}" data-url="{feed.link}" data-date="{feed.timestampticks}">
                                <div class="image" style="background-image: url({feed.image})"></div>
                                <img class="icon" src="/typo3conf/ext/pb_besocial/Resources/Public/Icons/facebook.png" />
                                <span class="text">{feed.text}</span>
                                <a class="likes" href="{feed.link}" ><f:count>{feed.raw.likes.data}</f:count></a>
                                <a class="comments" href="{feed.link}" ><f:count>{feed.raw.comments.data}</f:count></a>
                                <f:if condition="{0:feed.raw.type}=={0:'video'}">
                                    <img class="video-overlay" src="/typo3conf/ext/pb_besocial/Resources/Public/Icons/swmb_play_icon.png" />
                                </f:if>
                            </div>
                        </f:if>
                        <f:if condition="{0:feed.provider}=={0:'googleplus'}">
                            <div class="social-list-item social-list-item-googleplus {f:if(condition:'{counter.cycle} > 6',then:'hidden')}" data-type="{feed.raw.object.attachments.0.objectType}" data-id="{feed.id}" data-url="{feed.link}" data-date="{feed.timestampticks}">
                                <div class="image" style="background-image: url({feed.image})"></div>
                                <img class="icon" src="/typo3conf/ext/pb_besocial/Resources/Public/Icons/g_plus.png" />
                                <span class="text">{feed.text}</span>
                                <a class="plus" href="{feed.link}" >{feed.raw.object.replies.totalItems}</a>
                                <a class="replies" href="{feed.link}" >{feed.raw.object.plusoners.totalItems}</a>
                                <f:if condition="{0:feed.raw.object.attachments.0.objectType}=={0:'video'}">
                                    <img class="video-overlay" src="/typo3conf/ext/pb_besocial/Resources/Public/Icons/swmb_play_icon.png" />
                                </f:if>
                            </div>
                        </f:if>
                        <f:if condition="{0:feed.provider}=={0:'instagram'}">
                            <div class="social-list-item social-list-item-instagram {f:if(condition:'{counter.cycle} > 6',then:'hidden')}" data-type="" data-id="{feed.id}" data-url="{feed.link}" data-date="{feed.timestampticks}">
                                <div class="image" style="background-image: url({feed.image})"></div>
                                <img class="icon" src="/typo3conf/ext/pb_besocial/Resources/Public/Icons/icon-instagram.PNG" />
                                <a class="likes" href="{feed.link}" >{feed.raw.likes.count}</a>
                                <a class="comments" href="{feed.link}" >{feed.raw.comments.count}</a>
                            </div>
                        </f:if>
                    </f:if>
                </f:cycle>
            </f:for>
        </div>

    </div>
</f:section>