<table class="tx-pb-besocial" >
    <tr>
        <td>
            <f:translate key="tx_pbbesocial_domain_model_item.type" />
        </td>
        <td>
            {item.type}
        </td>
    </tr>
	<tr>
		<td>
			<f:translate key="tx_pbbesocial_domain_model_item.url" />
		</td>
		<td>
			{item.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pbbesocial_domain_model_item.date" />
		</td>
		<td>
			{item.date}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pbbesocial_domain_model_item.result" />
		</td>
		<td>
			{item.result}
		</td>
	</tr>
</table>